.navbar {
    min-height: 55px;
    background: none;
    padding: 20px 0 24px;
    margin: 0;
    border: none;
    box-shadow: none;
    @include transition;
    .navbar-header {
        margin: 0;
        @include transition;
        .btn-warning {
            margin-top: 6.5px;
            @media (max-width: 499px) {
                float: none !important;
                margin-top: 65px;
            }
        }
        .navbar-toggle {
            width: 42px;
            height: 42px;
            margin: 0;
            border-radius: 0;
            span {
                margin-left: auto;
                margin-right: auto;
            }
        }
        .navbar-brand {
            margin-left: 0;
            padding: 0;
            height: 55px;
            width: 203px;
            @include transition;
            @media (max-width: 991px) {
                width: 150px;
                height: 40px;
            }
            img {
                max-width: 100%;
                @include transition;
            }
        }
    }
    &.is-scrolling {
        padding: 20px 0;
        .navbar-header {
            .navbar-brand {
                width: 150px;
                height: 40px;
            }
        }
        #main-navbar {
            padding-top: 0;
        }
    }
}

#main-navbar {
    padding-top: 8px;
    @include transition;
    .nav {
        padding-right: 8px;
        margin-right: 0;
        li {
            a {
                padding: 0 17px;
                text-transform: uppercase;
                font: 500 16px/40px $poppin;
            }
        }
    }
}

.top-banner {
    padding-top: 190px;
    @media (max-width: 767px) {
        padding-top: 130px;
    }
    h2 {
        margin: 0 0 20px;
        font: 600 79px/1 $poppin;
        letter-spacing: -3px;
        @media (max-width: 1199px) {
            font-size: 68px;
        }
        @media (max-width: 991px) {
            font-size: 54px;
        }
        @media (max-width: 991px) {
            font-size: 35px;
        }
    }
    p {
        max-width: 780px;
        margin: 0 auto 40px;
        font: 300 27px/41px $poppin;
        letter-spacing: -0.2px;
        @media (max-width: 1199px) {
            font-size: 24px;
            line-height: 36px;
        }
        @media (max-width: 991px) {
            font-size: 18px;
            line-height: 26px;
        }
        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 25px;
        }
    }
    .btn-primary {
        img {
            margin: 0 15px;
            @media (max-width: 991px) {
                margin: 0 5px;
            }
        }
    }
    .apple-watch {
        margin: 0 auto 61px;
        @media (max-width: 991px) {
            margin-bottom: 30px;
        }
    }
}

.navbar-default .navbar-nav>.active>a {
    &,
    &:hover,
    &:focus {
        background-color: transparent;
    }
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-top: none;
}

@media (max-width:991px) {
    .navbar-default .navbar-collapse {
        background: #FFF;
        margin: 20px 0px;
        border-radius: 5px;
    }
    .alt-bg .navbar-default .navbar-collapse {
        background: rgba(0, 0, 0, 0.84);
    }
    .alt-bg .navbar-default.is-scrolling .navbar-collapse {
        background: #FFF;
    }
    .alt-bg .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #A7A7A7;
    }
    .alt-bg .dropdown-menu .divider {
        background-color: #313131;
    }
    .alt-bg .is-scrolling .dropdown-menu .divider {
        background-color: #e5e5e5;
    }
}

// header.row {
//     background: url(../images/header-background.jpg) no-repeat scroll center bottom;
//     background-size: cover;
// }

// header.alt-bg {
//     background: url(../images/commerce-tips-2022.jpg) no-repeat center center;
//     background-size: cover;
// }

header.video-bg {
    background: #010102;
}

.split-header p {
    font-size: 24px;
    max-width: 660px;
    margin-left: 0;
    line-height: 37px;
    @media (max-width: 992px) {
        max-width: 100%;
    }
    @media (max-width:767px) {
        font-size: 20px;
        line-height: 28px;
    }
}

.top-banner .text-reverse {
    h2 {
        color: $white;
    }
    p {
        color: rgba($white, 0.7);
    }
}

.alt-bg .top-banner {
    background: rgba(0, 0, 0, 0.67);
    min-height: 800px;
}

.alt-bg .dark-logo {
    display: none;
}

.alt-bg .is-scrolling .dark-logo {
    display: block;
}

.alt-bg .is-scrolling .white-logo {
    display: none;
}

.top-banner .split-header {
    margin-top: 70px;
    h2 {
        color: #FFF;
    }
    p {
        color: #FFF;
        color: rgba(255, 255, 255, 0.7);
    }
    @media (max-width:992px) {
        margin-top: 0;
        margin-bottom: 100px;
        text-align: center;
    }
}

.dropdown-menu {
    border: 1px solid #F1F1F1;
    box-shadow: 0 2px 42px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    padding: 15px 0;
}

#main-navbar .dropdown-menu li a {
    padding: 0 25px;
}


/* ------- Play Video ------- */

.play-video-block {
    margin: 80px 0 0;
    position: relative;
    .video-thumb {
        border-radius: 5px;
    }
    .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -40px;
        margin-left: -40px;
        z-index: 2;
        transition: all 0.3s ease-in-out;
    }
    a {
        display: block;
        position: relative;
        z-index: 3;
        &:hover .play-btn {
            transform: scale(1.2, 1.2)
        }
        &:after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.00);
            z-index: 1;
        }
    }
}


/* Magnific Popup */

.mfp-iframe-scaler iframe {
    box-shadow: none;
}


/************************
 * Nav Menu on Hover
 ***********************/


/*only for screens greater than 992px  */

@media (min-width: 992px) {
    .navbar .navbar-nav > li.dropdown > ul {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: all 0.1s ease;
    }
    .navbar .navbar-nav > li.dropdown:hover > ul {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}


/* end nav on hover  */


/************************
 * Youtube Video Player
 ***********************/

.mb_YTPlayer:focus {
    outline: 0;
}

.mbYTP_wrapper {
    display: block;
    transform: translateZ(0) translate3d(0, 0, 0);
    transform-style: preserve-3d;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
}

.mb_YTPlayer .loading {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0.51);
    text-align: center;
    padding: 2px 4px;
    border-radius: 5px;
    font-family: "Droid Sans", sans-serif;
    -webkit-animation: fade .1s infinite alternate;
    /* Chrome, Safari, Opera */
    animation: fade .1s infinite alternate;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes fade {
    0% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}


/* Standard syntax */

@keyframes fade {
    0% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.YTPFullscreen {
    display: block!important;
    position: fixed!important;
    width: 100%!important;
    height: 100%!important;
    top: 0!important;
    left: 0!important;
    margin: 0!important;
    border: none !important;
    opacity: 1 !important;
}

.mbYTP_wrapper iframe {
    max-width: 4000px !important;
}

.inline_YTPlayer {
    margin-bottom: 20px;
    vertical-align: top;
    position: relative;
    left: 0;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .7);
    background: rgba(0, 0, 0, .5);
}

.inline_YTPlayer img {
    border: none!important;
    margin: 0!important;
    padding: 0!important;
    transform: none!important;
}


/*RASTER OVERLAY*/

.YTPOverlay.raster {
    background: url("../images/raster.png");
}

.YTPOverlay.raster.retina {
    background: url("../images/raster@2x.png");
}

.YTPOverlay.raster-dot {
    background: url("../images/raster_dot.png");
}

.YTPOverlay.raster-dot.retina {
    background: url("../images/raster_dot@2x.png");
}


/*VOLUME SLIDER*/

.mb_YTPBar .simpleSlider {
    position: relative;
    width: 100px;
    height: 10px;
    border: 1px solid #fff;
    overflow: hidden;
    box-sizing: border-box;
    margin-right: 10px;
    cursor: pointer !important;
    border-radius: 3px;
}

.mb_YTPBar.compact .simpleSlider {
    width: 40px;
}

.mb_YTPBar .simpleSlider.muted {
    opacity: .3;
}

.mb_YTPBar .level {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    box-sizing: border-box;
}

.mb_YTPBar .level.horizontal {
    height: 100%;
    width: 0;
}

.mb_YTPBar .level.vertical {
    height: auto;
    width: 100%;
}
