{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>


<link href="{% static 'css/discovery/style.css' %}" rel="stylesheet">

{% endblock css %}

{% block javascript %}
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'>
{% endblock javascript %}

{% block content %}
<div class="middle d-flex justify-content-evenly align-items-center">

        <div class="row">
                {% for product in products %}
                     <div class="col-md-6">
                        <!-- bbb_deals -->
                        <div class="bbb_deals m-2">                               
                                <div class="bbb_deals_title"><strong>Seler:{{product.user.email}}</strong></div>
                                      
                            <div class="bbb_deals_slider_container">
                                <div class=" bbb_deals_item">
                                    
                                    <div class="bbb_deals_image">
                                        <a href="{{ product.get_absolute_url }}">
                                            <img src="{% if product.cover %}{{ product.cover.url }}{% else %}{% static 'images/product-placeholder.png' %}{% endif %}" alt="{{ product.name }}" width="300" height="300">
                                        </a>
                                    </div>
                                    <div class="bbb_deals_content">
                                        <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                            <div class="bbb_deals_item_category"><a href="{{ product.get_absolute_url }}">Link</a></div>
                                            
                                            <div class="bbb_deals_item_price_a ml-auto"><strike>{{ product.price.convert_to_dollars }}</strike></div>
                                        </div>
                                        <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                                            <div class="bbb_deals_item_name">{{ product.name }} !!</div>
                                            <div class="bbb_deals_item_price ml-auto">{{ product.convert_to_dollars }} $</div>
                                        </div>
                                        <div class="available">
                                            <div class="available_line d-flex flex-row justify-content-start">
                                                <div>
                                                    {% if product.active %}
                                                    <a href="{{ product.get_absolute_url }}" class="btn btn-success">Available</a>
                                                    {%else%}                             
                                                    <a href="#" class="btn btn-danger">Not Available</a>                             
                                                    {% endif %}
                                            </div>
                                                <div class="sold_stars ml-auto"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                                            </div>
                                            <div class="available_bar"><span style="width:17%"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                {% endfor %}
        </div>
</div>
{% endblock content %}


