{% extends "base.html" %}
{% load static %}

{% block content %}

{% if details_submitted %}
    <div class="container justify-content-center">
      <!-- Startup Logo -->
      <div class="logo">
          <a href="#"><img src="{% static 'assets/images/success-icon.png' %}" alt="Success Icon"></a>
      </div>
      <!-- Hero Title -->
      <h2 class="h2">Thank you! </h2>
      <!-- Sub Title -->
      <p class="lead">All detail was submitted</p>
      <hr>
{% else %}
      <!-- link to create Stripe account -->   
    <div class="card">
      <div class="card-header">
        STRIPE ACCOUNT
      </div>
      <div class="card-body">
        <h5 class="card-title"><strong>Payment details</strong></h5>
        <p class="card-text">Connect yout stripe account to get paid</p>
        <a href="{% url 'stripe-account-link' %}" class="btn btn-kickstarter">
          <img src="{% static 'images/stripebutton.png' %}" height="50" width="300">
      </a>
      </div>
    </div>
{% endif %}

<div class="container mydiv">
        <div class="d-flex justify-content-between">
            <h2>Products I created</h2>
            
                        
            {% if details_submitted %}
            <p class="text-center"><a href="{% url 'product-create' %}" class="btn btn-kickstarter btn-md" value="">Create Product</a></p>
            {% endif %}

        </div>
        <hr>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
                {% for product in products %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{product.convert_to_dollars}}$</td>
              </tr>
              {% endfor %}
            
            </tbody>
        </table>    
</div>
{% endblock content %}