{% load static %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if request.user.is_authenticated %}
        <a class="navbar-brand" href="#"><strong>{{request.user.email}}</strong></a>
      {% else %}
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/ecommerce.png' %}" alt="" width="30" height="24">
          </a>
        </div>
      {% endif %}

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'discovery' %}">Discovery<span class="visually-hidden">(current)</span></a>
          </li>
          
          {% if request.user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'user-products' %}">My Products</a>
            </li>
            <li class="nav-item active">
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-link" href="{% url 'user-profile' %}"> My Profile </a>
            </li>
            <li class="nav-item active">
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
            </li>
          {% else %}
            {% if ACCOUNT_ALLOW_REGISTRATION %}
                <li class="nav-item active">
                    <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                </li>
            {% endif %}
            <li class="nav-item active">
              {# URL provided by django-allauth/account/urls.py #}
              <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">Sign In</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
