/* ------------------------------------------------

Page	: Proland CSS
Version : 1.0
Author  : Surjith S M
URI     : http://themeforest.net/user/surjithctly

Copyright © All rights Reserved
Surjith S M / @surjithctly

-------------------------------------------------- */


/*=====================================================================


@Default Styles

Table of Content:
01/ Prefix
02/ Header
03/ The Product
04/ How it Works
05/ The Benefits
06/ Left Right Content
07/ Our Collection
08/ The Watch
09/ Splt Columns
10/ Reviews
11/ FAQs
12/ Tech Specs
13/ Our Team
14/ Timeline
15/ Mobile App
16/ Newsletter
17/ Contact
18/ Footer
19/ Page Header
20/ Blog
21/ Sidebar
22/ Comments
23/ Products
24/ Exit Popup

=====================================================================*/


/*========= @import Global & Variables ==========*/

@import "variables";
@import "global";

/*========= @import Components ==========*/


/*=========Prefix==========*/

@import "components/prefix";

/*=========Header==========*/

@import "components/header";

/*=========The Product==========*/

@import "components/the-product";

/*=========How it Works==========*/

@import "components/how-it-works";

/*=========How it Works==========*/

@import "components/the-benefits";

/*=========Left Right Content==========*/

@import "components/left-right";

/*=========Our Collection==========*/

@import "components/our-collection";

/*=========The Watch==========*/

@import "components/the-watch";

/*=========Split Columns==========*/

@import "components/split-columns";

/*=========Reviews==========*/

@import "components/reviews";

/*=========FAQ==========*/

@import "components/faqs";

/*=========Tech Specs==========*/

@import "components/tech-specs";

/*=========Team==========*/

@import "components/team";

/*=========Timeline==========*/

@import "components/timeline";

/*=========Mobile App==========*/

@import "components/mobile-app";

/*=========Newsletter==========*/

@import "components/newsletter";

/*=========Contact==========*/

@import "components/contact";

/*=========Footer==========*/

@import "components/footer";

/*=========Page Header==========*/

@import "components/page-header";

/*=========Blog Section==========*/

@import "components/blog-section";

/*========= Sidebar ==========*/

@import "components/sidebar";

/*========= Comments ==========*/

@import "components/comments";

/*========= Product POPUP ==========*/

@import "components/product";

/*========= Exit Popup ==========*/

@import "components/exit-popup";

/*========= Pricing ==========*/

@import "components/pricing";
