.page-header {
    text-align: center;
    padding: 150px 0 50px;
    h2 {
        margin: 0 0 15px;
        font: 600 48px/1 $poppin;
    }
    h4 {
        margin: 0;
        font: 300 20px/1 $poppin;
    }
}
