{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Sign Out" %}{% endblock %}

{% block inner %}



<div class="middle d-flex justify-content-evenly align-items-center">
  <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header"><h1>{% translate "Sign Out" %}</h1></div>
    <div class="card-body">
      <h5 class="card-title"><p>{% translate 'Are you sure you want to sign out?' %}</p></h5>
      <p class="card-text">
      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-danger" type="submit">{% translate 'Sign Out' %}</button>
      </form></p>
    </div>
  </div>    
</div>


{% endblock %}

