{% extends "account/base.html" %}
{% load static  %}
{% load i18n %}

{% block head_title %}{% translate "Verify Your E-mail Address" %}{% endblock %}

{% block inner %}


<div class="middle d-flex justify-content-top align-items-center">
    <div class="card mb-3">
        <img src="{% static 'images/message.gif' %}"  width="2" height="100" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{% translate "Verify Your E-mail Address" %}</h5>
    
          <p class="card-text">{% blocktranslate %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktranslate %}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    
</div>


{% endblock %}

