{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}Create a User{% endblock %}



{% block content %}
<h1>Are you sure you want to delete ({{product.id}}) ? </h1>
<form class="login w-50" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="primaryAction btn btn-kickstarter" type="submit">Yes</button>
    <a href="{% url 'products:product-detail' product.slug %}">Cancel</a>
  </form>

{% endblock content %}









